<div class="main-content">
  <div class="container-fluid" *ngIf="radiosList && radiosList.length > 0">
      <div class="row">
          <div class="col-lg-3 col-md-6 col-sm-6" *ngFor="let radio of radiosList | paginate: { itemsPerPage: 10, currentPage: page }">
              <div class="card card-stats" (click)="onRadioClick(radio)">
                  <div class="card-header card-header-icon">
                      <div class="card-icon">
                          <img class="profilePicture" src="{{radio.ImageUrl}}">
                      </div>
                      <h3 class="card-title">{{radio.Name}}</h3>
                      <p class="card-category">0 follower</p>
                  </div>
                  <div class="card-footer">
                      <div class="stats">
                          <i class="material-icons">update</i> Just Updated
                      </div>
                  </div>
              </div>
          </div>
      </div>
      <pagination-controls *ngIf="radiosList.length > 9" (pageChange)="p = $event"></pagination-controls>
  </div>
  <div class="container-fluid" *ngIf="!radiosList || radiosList.length === 0">
      <div class="row">
          <div class="col-12 noRadiosFont">
              No radios available
          </div>
      </div>
  </div>
</div>
